# Fans Configuration

#####################################################################
#  Fans
#####################################################################
# Note: The following FAN0/FAN1/FAN2 settings are only applicable when using OrcaSlicer,
# as only OrcaSlicer allows for the additional configuration of parts cooling fans and filter fans. 
# If you use other slicing software, please comment out the following configurations.
# instead of using [fan], we define the default part cooling fan with [fan_generic] here
# this is the default part cooling fan
[fan_generic Part_Fan]                                               # 5015 Part cooling Blower 
pin: EBBCan:gpio13                                                   # Fan pin 
cycle_time: 0.00003                                                  # Cycle time
hardware_pwm: false                                                  # hardware pwm


#--------------------------------------------------------------------
[heater_fan hotend_fan]                                              # Hotend fan
pin: EBBCan:gpio14                                                   # Hotend fan pin
heater: extruder                                                     # Associated heating device
heater_temp: 50.0                                                    # Temperature to start the fan
cycle_time: 0.01                                                     # Cycle time