[include mainsail.cfg]

# host MCU service is preinstalled and ready to use with:
[mcu CB2]
serial: /tmp/klipper_host_mcu

[temperature_sensor Host]
sensor_type: temperature_host

[include generic-bigtreetech-xxx.cfg]

[include autotune_tmc.cfg]
