#####################################################################
#  Include
#####################################################################
[include mainsail.cfg]                                               # Include everything from mainsail.cfg
[include Macros/_macros_collect.cfg]                                 # Include everything from Macros/_macros_collect.cfg
[include Hardware/_hardware_collect.cfg]                             # Include everything from Hardware/_hardware_collect.cfg


#####################################################################
#  Printer Base
#####################################################################
[virtual_sdcard]
path: /home/biqu/printer_data/gcodes                                 # Path to the virtual SD card directory

#--------------------------------------------------------------------
[gcode_arcs]
resolution: 0.1                                                      # Arc interpolation resolution, handles G2/G3 commands

#--------------------------------------------------------------------
[exclude_object]                                                     # Exclude object for cancellation

#--------------------------------------------------------------------
[force_move]
enable_force_move: true                                              # Enable force move feature

#--------------------------------------------------------------------
[respond]
default_type: echo
default_prefix: 

#--------------------------------------------------------------------
[display_status]

#--------------------------------------------------------------------
[force_move]
enable_force_move: true                                              # Enable force move feature


#####################################################################
#  Auto Calibrations 
#####################################################################
#Höherer Wert Abstand größer, niedrigerer Wert Abstand niedriger, Reaper 0.10 XOL 0.12

[include shell_command.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.528
#*# pid_ki = 2.971
#*# pid_kd = 406.738
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 35.263
#*# pid_ki = 7.584
#*# pid_kd = 40.992
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.5270607584250644,1.9655426976516799,0.8545887904093622,0.3045038239544955,0.2123191679974758,0.874191673662584,0.20231891365977003,-1.1336905780124062,0.0033767131508233425,0.6928416641104426
#*# domain = 3.252054059929427e-07,3.3588680698273994e-07
#*# z_offset = 0
#*# reference_temperature = 30.73
