#Macros for Cartographer

#####################################################################
#  Probe Calibration 
#####################################################################      
# Defines a G-code macro for probe calibration
[gcode_macro SET_CARTOGRAPHER_Z_OFFSET]
description: Set Cartographer Z Offset
gcode:
    G28                                                              # Home all axes
    G0 X175 Y175 Z1 F3600                                            # Fast move to X175 Y175 Z1 at 3600 mm/min
    CARTOGRAPHER_CALIBRATE METHOD=manual                             # Start probe calibration    
   

#####################################################################
#   Cartographer Backlash Test
#####################################################################

[gcode_macro CARTO_BACKLASH_TEST]
description: Measure Cartographer Z backlash at zero reference position
gcode:

    # Check if printer is homed
    {% if printer.toolhead.homed_axes != "xyz" %}
        { action_raise_error("Printer not homed!") }
    {% endif %}
    # Check if Cartographer exists
    {% if printer.configfile.settings.cartographer is not defined %}
        { action_raise_error("[Cartographer] not found!") }
    {% endif %}
    # Check if zero_reference_position exists
    {% if printer.configfile.config.bed_mesh.zero_reference_position is not defined %}
        { action_raise_error("zero_reference_position not found!") }
    {% endif %}

    # Detect leveling system
    {% if printer.configfile.settings.z_tilt is defined %}
        {% set planeCfg = "z_tilt" %}
        {% set planeCMD = "Z_TILT_ADJUST" %}
    {% elif printer.configfile.settings.quad_gantry_level is defined %}
        {% set planeCfg = "quad_gantry_level" %}
        {% set planeCMD = "QUAD_GANTRY_LEVEL" %}
    {% elif printer.configfile.settings.z_tilt_ng is defined %}
        {% set planeCfg = "z_tilt_ng" %}
        {% set planeCMD = "Z_TILT_ADJUST" %}
    {% else %}
        { action_raise_error("No Z_TILT / QGL leveling system found!") }
    {% endif %}

    # Check if leveling has been applied
    {% if not printer[planeCfg].applied %}
        { action_raise_error("Gantry/Bed not leveled! Run %s first." % planeCMD) }
    {% endif %}

    # Get zero reference position
    {% set zeroRef = printer.configfile.config.bed_mesh.zero_reference_position.split(',') %}
    {% set x = zeroRef[0]|float %}
    {% set y = zeroRef[1]|float %}

    # Move to measurement position
    G90
    G1 Z10 F1200
    G1 X{x} Y{y} F12000

    # Measure backlash
    CARTOGRAPHER_ESTIMATE_BACKLASH


#####################################################################
#  Mesure Backlash Map 
#####################################################################  
[gcode_macro CARTO_BACKLASH_MAP]
description: Calibrate backlash at each corner
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    { action_raise_error("Printer not homed!"   ) } {% endif %}
  {% if printer.configfile.settings.cartographer is not defined   %}
    { action_raise_error("[Cartographer] not found!" ) } {% endif %}
  {% if printer.configfile.config.bed_mesh.zero_reference_position is not defined %}
    { action_raise_error("zero_reference_position not found!")} {% endif %}
    
  {% if printer.configfile.settings.z_tilt is defined %}
    {% set planeCfg = "z_tilt"        %}
    {% set planeCMD = "Z_TILT_ADJUST" %}
  {% elif printer.configfile.settings.quad_gantry_level is defined %} 
    {% set planeCfg = "quad_gantry_level" %}
    {% set planeCMD = "QUAD_GANTRY_LEVEL" %}
  {% elif printer.configfile.settings.z_tilt_ng is defined %}
    {% set planeCfg = "z_tilt_ng"     %}
    {% set planeCMD = "Z_TILT_ADJUST" %}
  {% else %}
    { action_raise_error("This printer has no ztilt / QGL ") }
  {% endif %}
  
  {% set planeDef = printer.configfile.settings[planeCfg] %}
  {% set planeRange = planeDef.points | count             %}
  {% if not printer[planeCfg].applied  %} 
    { action_raise_error("Plane not leved, run {planeCMD} first")} {% endif %} 

  {% set moveSpeed  = planeDef['speed'] | int * 60  %}
  {% set moveAccel  = printer.configfile.config.printer.max_accel | int * 0.80 %}
  {% set moveHeight = 10 if planeDef['horizontal_move_z'] < 10 else planeDef['horizontal_move_z'] %}

  RESPOND PREFIX=💨 MSG="Moving Height: {moveHeight} Speed: {planeDef['speed']} Accel: {moveAccel} You have 4s to hit eStop"
  G4 P4000
  G90
  G0 Z{moveHeight}

  {% for i in range(planeRange) %}
    {% set testX = planeDef.points[i][0]|float %}
    {% set testY = planeDef.points[i][1]|float %}
    RESPOND PREFIX=🔢 MSG="Point {i+1}/{planeRange+1} ({planeCMD})"
    RESPOND PREFIX=📌 MSG="Testing at X={testX} Y={testY}"

    G1 X{testX} Y{testY} Z{moveHeight} F{moveAccel}
    M400
    CARTOGRAPHER_ESTIMATE_BACKLASH
    M400
    G0 Z{moveHeight}
  {% endfor %}

  {% set posCenter = printer.configfile.config.bed_mesh.zero_reference_position %}
  {% set testX = posCenter.split(",")[0]|float %}
  {% set testY = posCenter.split(",")[1]|float %}
  RESPOND PREFIX=🚩 MSG="Point {planeRange+1}/{planeRange+1} (zero_reference_position)"
  RESPOND PREFIX=📌 MSG="Tesing at X={testX} Y={testY}"

  G1 X{testX} Y{testY} Z{moveHeight} F{moveAccel}
  M400
  CARTOGRAPHER_ESTIMATE_BACKLASH
  M400
  G0 Z{moveHeight}    


#####################################################################
#  CARTOGRAPHER_TOUCH_HOME Override 
#####################################################################
#[gcode_macro CARTOGRAPHER_TOUCH_HOME]
#rename_existing: _CARTOGRAPHER_TOUCH_HOME
#gcode:
#    *whatever stuff you want to do before carto home*
#    _CARTOGRAPHER_TOUCH_HOME {rawparams}
#    *whatever stuff you want to do after carto home


