#Cartographer Configurations

#####################################################################
#  Cartographer V3 （ADXL345）
#####################################################################
[mcu cartographer]
canbus_uuid: ab80958e982c                                            # Fill in the UUID that was just recorded

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 25.35 # This is the offset of your probe from the nozzle tip, to the centre of the coil. Archetype
#y_offset: 24.6 # This is the offset of your probe from the nozzle tip, to the centre of the coil. XOL
verbose: yes # For extra output


#####################################################################
#  Redefine the Z-motion endstop_pin!
#####################################################################
[stepper_z]
endstop_pin: probe:z_virtual_endstop	                             # Uses cartographer virtual endstop
homing_retract_dist: 0


#####################################################################
#  Temperature Monitoring
#####################################################################
[temperature_sensor Cartographer_MCU]                                # Cartographer_MCU Temperature sensor configuration
sensor_type: temperature_mcu                                         # Sensor type
sensor_mcu: cartographer                                             # Sensor pin
min_temp: 0                                                          # Minimum temperature
max_temp: 105                                                        # Maximum temperature


#####################################################################
#  Cartographer adxl345
#####################################################################
[adxl345 carto]                                                      # Adxl from Carto
cs_pin: cartographer:PA3                                             # Chip select pin for ADXL345 accelerometer
spi_bus: spi1                                                        # SPI bus used for communication
