# Fan Configurations

#####################################################################
#  Fans
#####################################################################
[multi_pin Skirt_fan_pins]                                           # Set Multible Pins for Side Skirt fans
pins: PF7, PF9                                                       # Left, Right

[heater_fan Skirt_fan]                                               # Skirt fan
pin: multi_pin:Skirt_fan_pins                                        # See above
cycle_time: 0.00003                                                  # Cycle time
shutdown_speed: 0.0                                                  # Closing speed (Please do not change)
kick_start_time: 0.5                                                 # start-up time (Please do not change)
heater: heater_bed                                                   # Related equipment: heater_bed
heater_temp: 50                                                      # How many degrees does the Heatbed reach to activate the fan
fan_speed: 0.5                                                       # Fan speed

#--------------------------------------------------------------------
[controller_fan driver_fan]                                          # Driver cooling fan
pin: PF6                                                             # Fan pin 
cycle_time: 0.01                                                     # Cycle time
max_power: 1.0                                                       # Maximum power
shutdown_speed: 0.0                                                  # Shutdown speed
fan_speed: 0.8                                                       # Fan speed when heater or stepper driver is active (0.0 to 1.0). Default is 1.0.
idle_timeout: 90                                                     # Time in seconds to keep the fan running after the stepper driver or heater is no longer active. Default is 30 seconds.
idle_speed: 0.4                                                      # Fan speed after the stepper driver is no longer active and before idle_timeout is reached (0.0 to 1.0). Default is fan_speed.
stepper: stepper_x                                                   # Active motors
# Define the name of the heater/stepper configuration section associated with this fan. 
# If a comma-separated list of heater/stepper names is provided here, the fan will be enabled when any of the given heaters/steppers are enabled.
# The default heater is "extruder", and the default stepper is all steppers.

#--------------------------------------------------------------------
[fan_generic Bed_Fan]                                                # 12032 Auxiliary Part cooling Blower 
pin: PA0                                                             # Fan pin
cycle_time: 0.00003                                                  # Cycle time
hardware_pwm: false                                                  # hardware pwm
kick_start_time: 0.5                                                 # start-up time (Please do not change)

#--------------------------------------------------------------------
[fan_generic Fume_Fan]                                               # Fume_Pack Exhaust Fan
pin: PF8                                                             # Fan pin     
cycle_time: 0.00003                                                  # Cycle time
hardware_pwm: false                                                  # hardware pwm
kick_start_time: 0.5                                                 # start-up time (Please do not change)