#LED´s Configurations

#####################################################################
#  Chamber LED´s
#####################################################################
[neopixel Chamber_LEDs]
pin: PD15                                                            # Signal interface
chain_count: 50                                                      # Number of LEDs
color_order: GRB                                                     # Color order
initial_RED: 0.0                                                     # Initial red brightness
initial_GREEN: 0.0                                                   # Initial green brightness
initial_BLUE: 0.0                                                    # Initial blue brightness

[delayed_gcode CHAMBER_LIGHT_STARTUP]
initial_duration: 1.5
gcode:
    CHAMBER_LIGHT_IGNITION


[gcode_macro CHAMBER_LIGHT_IGNITION]
gcode:
    # Alter-Leuchtstoffröhren-Effekt
    {% set attempts = range(5, 10) | random %}

    {% for i in range(attempts) %}
        {% set level = range(25, 95) | random / 100.0 %}
        {% set ontime = range(3, 12) | random / 100.0 %}
        {% set offtime = range(4, 20) | random / 100.0 %}

        SET_LED LED=Chamber_LEDs RED={level * 0.8} GREEN={level * 0.8} BLUE={level} SYNC=0
        G4 P{(ontime * 1000)|int}

        SET_LED LED=Chamber_LEDs RED=0 GREEN=0 BLUE=0 SYNC=0
        G4 P{(offtime * 1000)|int}
    {% endfor %}

    # Noch ein kurzer kräftiger Zündversuch
    SET_LED LED=Chamber_LEDs RED=0.8 GREEN=0.8 BLUE=1 SYNC=0
    G4 P80
    SET_LED LED=Chamber_LEDs RED=0 GREEN=0 BLUE=0 SYNC=0
    G4 P120

    # Erfolgreich gezündet
    SET_LED LED=Chamber_LEDs RED=0.8 GREEN=0.8 BLUE=1 SYNC=0